<%= form_for(setup_post(@post)) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span class="sentence">I'm voting for</span>
  <div class="field">
    <ul>
      <li class="candidate" id="obama">This dude</li>
      <li class="candidate" id="romney">This dude</li>
      <li class="candidate" id="johnson">This dude</li>
      <li class="candidate" id="nobody">No dude</li>
    </ul>
  </div>
  <span class="sentence">because</span>
  <div class="field">
    <%= f.text_area :reason, :class => "reason" %>
  </div>
  <div class="field">
    <%= f.fields_for :user do |ff| %>
      <%= ff.label :email, "Your Email" %>
      <%= ff.text_area :email, :class => "email" %>
    <% end %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
