<%= form_for(setup_post(@post)) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.radio_button :candidate, "Mitt Romney" %>
    <%= f.label :candidate_romney, "Mitt Romney" %>
    <%= f.radio_button :candidate, "Barack Obama" %>
    <%= f.label :candidate_obama, "Barack Obama" %>
    <%= f.radio_button :candidate, "Gary Johnson" %>
    <%= f.label :candidate_obama, "Gary Johnson" %>
    <%= f.radio_button :candidate, "Nobody" %>
    <%= f.label :candidate_obama, "Nobody" %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_area :reason %>
  </div>
  <div class="field">
    <%= f.fields_for :user do |ff| %>
      <%= ff.label :email %><br />
      <%= ff.text_area :email %>
    <% end %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
