<%= form_for(setup_post(@post)) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p class="sentence">I'm voting for</p>
  <div class="field">
    <div class="hidden">
      <%= f.radio_button :candidate, "Mitt Romney" %>
      <%= f.label :candidate_romney, "Mitt Romney" %>
      <%= f.radio_button :candidate, "Barack Obama" %>
      <%= f.label :candidate_obama, "Barack Obama" %>
      <%= f.radio_button :candidate, "Gary Johnson" %>
      <%= f.label :candidate_obama, "Gary Johnson" %>
      <%= f.radio_button :candidate, "Nobody" %>
      <%= f.label :candidate_obama, "Nobody" %>
    </div>
    <ul>
      <li class="candidate" id="obama"><img src="images/obama.jpg" alt=""></li>
      <li class="candidate" id="romney"><img src="images/romney.jpg" alt=""></li>
      <li class="candidate" id="johnson"><img src="images/gary.jpg" alt=""></li>
      <li class="candidate" id="nobody"><img src="images/derek.jpg" alt=""></li>
    </ul>
  </div>
  <p class="sentence">because</p>
  <div class="field">
    <%= f.text_area :reason, :class => "reason" %>
  </div>
  <div class="field">
    <%= f.fields_for :user do |ff| %>
      <%= ff.label :email, "Your Email" %>
      <%= ff.text_area :email, :class => "email" %>
    <% end %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
